In [2]:
import json
import pandas as pd
import numpy as np

In [3]:
CURRENT_DATE = "25-08-2024"
teams_filename = f"./results/{CURRENT_DATE}/results_{CURRENT_DATE}.json"
SELECTED_MODEL_INDEX = 5
TOTAL_BUDGET = 1000

In [4]:
current_team_names = {"Onana",
                "White",
                "Trippier",
                "Alexander-Arnold",
                "Pedro Porro",
                "Bruno G.",
                "Bowen",
                "Kulusevski",
                "Luis Díaz",
                "N.Jackson",
                "Havertz",
                "Leno",
                "Robertson",
                "Gordon",
                "Solanke"
                }

In [5]:
with open("data/data.csv","r") as f:
    all_player_data = pd.read_csv(f)
current_team_data = all_player_data.loc[all_player_data["name"].isin(current_team_names)]
current_team_data

,id,name,cost,ict_index,total_points,points_per_game,form,position,team
3,3,Havertz,81,14.2,14,7.0,7.0,FWD,ARS
19,22,White,65,3.0,12,6.0,6.0,DEF,ARS
44,57,Onana,50,9.5,11,5.5,5.5,MID,AVL
152,191,N.Jackson,75,5.1,2,2.0,1.0,FWD,CHE
217,268,Leno,50,5.4,6,3.0,3.0,GKP,FUL
284,347,Alexander-Arnold,70,5.6,8,8.0,4.0,DEF,LIV
298,362,Luis Díaz,75,7.8,3,3.0,1.5,MID,LIV
304,370,Robertson,60,3.3,6,6.0,3.0,DEF,LIV
346,420,Onana,50,4.2,7,3.5,3.5,GKP,MUN
356,434,Bruno G.,65,2.3,3,3.0,1.5,MID,NEW
360,438,Gordon,75,1.7,3,3.0,1.5,MID,NEW
377,458,Trippier,59,0.0,0,0.0,0.0,DEF,NEW
378,459,White,45,0.0,0,0.0,0.0,MID,NEW
448,545,Kulusevski,65,10.8,7,3.5,3.5,MID,TOT
451,548,Pedro Porro,55,17.8,15,7.5,7.5,DEF,TOT
471,570,Bowen,75,15.4,10,5.0,5.0,MID,WHU

In [6]:
current_team_cost = current_team_data["cost"].sum()
current_team_cost

np.int64(1015)

In [7]:
with open(teams_filename,"r") as f:
    all_data = json.load(f)
data = all_data["data"][SELECTED_MODEL_INDEX]
selected_team = pd.DataFrame(data=data)

In [8]:
selected_team

,id,name,cost,ict_index,total_points,points_per_game,form,position,team,score
0,14,Raya,55,5.5,17,8.5,8.5,GKP,ARS,72.25
1,453,Pope,50,2.5,9,9.0,4.5,GKP,NEW,40.50
2,551,Romero,50,15.5,16,8.0,8.0,DEF,TOT,64.00
3,548,Pedro Porro,55,17.8,15,7.5,7.5,DEF,TOT,56.25
4,579,Kilman,45,10.9,13,6.5,6.5,DEF,WHU,42.25
5,428,Mazraoui,45,6.6,12,6.0,6.0,DEF,MUN,36.00
6,17,Saliba,60,3.9,12,6.0,6.0,DEF,ARS,36.00
7,154,Welbeck,56,23.5,21,10.5,10.5,FWD,BHA,110.25
8,114,Wissa,60,10.8,11,11.0,5.5,FWD,BRE,60.50
9,3,Havertz,81,14.2,14,7.0,7.0,FWD,ARS,49.00
10,16,Saka,100,28.4,18,9.0,9.0,MID,ARS,81.00
11,555,Son,100,20.2,18,9.0,9.0,MID,TOT,81.00
12,443,Joelinton,60,7.9,11,11.0,5.5,MID,NEW,60.50
13,379,De Bruyne,95,17.4,15,7.5,7.5,MID,MCI,56.25
14,18,Thomas,50,11.1,14,7.0,7.0,MID,ARS,49.00

In [9]:
selected_team_players = set(selected_team["name"])

In [10]:
new_players = selected_team_players - current_team_names
new_players

{'De Bruyne',
 'Joelinton',
 'Kilman',
 'Mazraoui',
 'Pope',
 'Raya',
 'Romero',
 'Saka',
 'Saliba',
 'Son',
 'Thomas',
 'Welbeck',
 'Wissa'}

In [11]:
new_players_df = selected_team.loc[selected_team["name"].isin(new_players)]
new_players_df

,id,name,cost,ict_index,total_points,points_per_game,form,position,team,score
0,14,Raya,55,5.5,17,8.5,8.5,GKP,ARS,72.25
1,453,Pope,50,2.5,9,9.0,4.5,GKP,NEW,40.50
2,551,Romero,50,15.5,16,8.0,8.0,DEF,TOT,64.00
4,579,Kilman,45,10.9,13,6.5,6.5,DEF,WHU,42.25
5,428,Mazraoui,45,6.6,12,6.0,6.0,DEF,MUN,36.00
6,17,Saliba,60,3.9,12,6.0,6.0,DEF,ARS,36.00
7,154,Welbeck,56,23.5,21,10.5,10.5,FWD,BHA,110.25
8,114,Wissa,60,10.8,11,11.0,5.5,FWD,BRE,60.50
10,16,Saka,100,28.4,18,9.0,9.0,MID,ARS,81.00
11,555,Son,100,20.2,18,9.0,9.0,MID,TOT,81.00
12,443,Joelinton,60,7.9,11,11.0,5.5,MID,NEW,60.50
13,379,De Bruyne,95,17.4,15,7.5,7.5,MID,MCI,56.25
14,18,Thomas,50,11.1,14,7.0,7.0,MID,ARS,49.00

In [12]:
new_team_cost = selected_team["cost"].sum()
new_team_cost

np.int64(962)

In [13]:
added_cost = new_team_cost - current_team_cost
print("Added cost:",added_cost)

Added cost: -53

In [14]:
surplus = current_team_cost - new_team_cost

In [15]:
HEURISTIC = "points_per_game"
new_players_df.loc[:,"score"] = new_players_df[HEURISTIC] * new_players_df["form"]
selected_team.loc[:,"score"] = selected_team[HEURISTIC] * selected_team["form"]
current_team_data.loc[:,"score"] = current_team_data[HEURISTIC] * current_team_data["form"]

/tmp/ipykernel_34401/3605213291.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  current_team_data.loc[:,"score"] = current_team_data[HEURISTIC] * current_team_data["form"]

In [16]:
score_dif = selected_team["score"].sum() - current_team_data["score"].sum()
print("Score difference:",score_dif)

Score difference: 599.25

In [25]:
def get_best(current_team_data: pd.DataFrame,new_team: pd.DataFrame, new_team_players: pd.DataFrame, position: str):
    current_team_data = current_team_data.loc[current_team_data["position"]==position]
    new_team_players = new_team_players.loc[new_team_players["position"]==position]
    min_current = current_team_data.iloc[np.argmin(current_team_data["score"])]
    min_selected = new_team_players.iloc[np.argmin(new_team_players["score"])]
    max_current = current_team_data.iloc[np.argmax(current_team_data["score"])]
    max_selected = new_team_players.iloc[np.argmax(new_team_players["score"])]

    current_team_1 = current_team_data.drop(index=min_current.name)
    new_team_1 = new_team.drop(index=min_selected.name)

    current_cost_1 = current_team_1["cost"].sum()
    
    new_player_cost_1 = min_selected["cost"]
    new_cost_1 = current_cost_1 + new_player_cost_1
    score_dif_1 = min_selected["score"] - min_current["score"]

    current_team_2 = current_team_data.drop(index=max_current.name)
    new_team_2 = new_team.drop(index=max_selected.name)

    current_cost_2 = current_team_2["cost"].sum()
    
    new_player_cost_2 = max_selected["cost"]
    new_cost_2 = current_cost_2 + new_player_cost_2
    score_dif_2 = max_selected["score"] - max_current["score"]

    if(new_cost_1 <= 1000):
        if(new_cost_2 <= 1000):
            if(score_dif_1 <= 0 or score_dif_2 <= 0):
                return None
            elif (score_dif_1 > 0):
                if(score_dif_1 >= score_dif_2):
                    return {"old":min_current,"new":min_selected,"score-dif":score_dif_1}
                elif (score_dif_2 > score_dif_1):
                    return {"old":max_current,"new":max_selected,"score-dif": score_dif_2}
        elif (new_cost_2 > 1000):
            if(score_dif_1 > 0):
                return {"old":min_current,"new":min_selected,"score-dif":score_dif_1}
            else:
                return None
    elif (new_cost_1 > 1000 and new_cost_2 <= 1000):
        if(score_dif_2 > 0):
            return {"old": max_current, "new": max_selected,"score-dif":score_dif_2}
        else:
            return None
    else:
        return None

In [27]:
def get_best_transfer(current_team_data: pd.DataFrame,new_team: pd.DataFrame, new_team_players: pd.DataFrame):
    possible_transfers = []
    goalie_transfers = get_best(current_team_data,selected_team,new_players_df,"GKP")
    if(goalie_transfers is not None):
        possible_transfers.append(goalie_transfers)
    fwd_transfers = get_best(current_team_data,selected_team,new_players_df,"FWD")
    if(fwd_transfers is not None):
        possible_transfers.append(fwd_transfers)
    mid_transfers = get_best(current_team_data,selected_team,new_players_df,"MID")
    if(mid_transfers is not None):
        possible_transfers.append(mid_transfers)
    defender_transfers = get_best(current_team_data,selected_team,new_players_df,"DEF")
    if(defender_transfers is not None):
        possible_transfers.append(defender_transfers)

    scores = [transfer["score-dif"] for transfer in possible_transfers]
    best_transfer_index = np.argmax(scores)
    best_transfer = possible_transfers[best_transfer_index]
    print("Best transfer:",best_transfer["old"]["name"],"->",best_transfer["new"]["name"])
    print("\nDetails:\n"+str(best_transfer))
    pass

In [28]:
get_best_transfer(current_team_data,selected_team,new_players_df)

Best transfer: Havertz -> Welbeck

Details:
{'old': id                       3
name               Havertz
cost                    81
ict_index             14.2
total_points            14
points_per_game        7.0
form                   7.0
position               FWD
team                   ARS
score                 49.0
Name: 3, dtype: object, 'new': id                     154
name               Welbeck
cost                    56
ict_index             23.5
total_points            21
points_per_game       10.5
form                  10.5
position               FWD
team                   BHA
score               110.25
Name: 7, dtype: object, 'score-dif': np.float64(61.25)}